import {{ pascalCase name }} from './{{ name }}.compiled.svelte';

test('component should load', () => {
  new {{ pascalCase name }}({
    target: document.body
  })
  expect(document.body.innerHTML).toBe('<p>`{{ name }}` component loaded!.</p>');
});
